<%- include header.ejs%>

<body class="login-layout light-login">
<div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>
        <!-- /section:basics/sidebar.mobile.toggle -->
        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a href="/" class="navbar-brand">
                <middle>
                    <i class="fa fa-folder-open"></i>
                    WebNote
                </middle>
            </a>
        </div>
    </div><!-- /.navbar-container -->
</div>
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header blue lighter bigger center">
                                    <i class="ace-icon fa fa-coffee green"></i>
                                    新用户注册
                                </h4>

                                <div class="space-6"></div>
                                <h4 id="usernameError" class="red">
                                </h4>
                                <form class="form-horizontal" id="sample-form" method="post">
                                    <div id="usernameform" class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" >用户名</label>
                                        <div class="col-sm-9">
                                            <span class="block input-icon input-icon-right">
											    <input type="text" id="username" name="username" placeholder="用户名" class="width-100">
											    <i class="ace-icon fa fa-user"></i>
											</span>
                                            <label class=" control-label pull-left" >请确保是字母、数字、下划线的组合，长度3-20个字符</label>
                                        </div>
                                    </div>
                                    <div id="passwordform" class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" >密码</label>
                                        <div class="col-sm-9">
                                            <span class="block input-icon input-icon-right">
											    <input type="password" id="password" name="password" placeholder="密码" class="width-100">
											    <i class="ace-icon fa fa-lock"></i>
											</span>
                                            <label class=" control-label pull-left" >请确保长度不能少于6，必须同时包含数字、小写字母、大写字母。</label>
                                        </div>
                                    </div>
                                    <div id="passwordconform" class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" >密码确认</label>
                                        <div class="col-sm-9">
                                            <span class="block input-icon input-icon-right">
											    <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="密码确认" class="width-100">
											    <i class="ace-icon fa fa-retweet"></i>
											</span>
                                            <label class=" control-label pull-left" >再次输入密码</label>
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <button type="button" id="reset" class="width-35 pull-left btn btn-sm btn-primary">
                                            <i class="ace-icon fa fa-undo"></i>
                                            <span class="bigger-110">重置</span>
                                        </button>
                                        <button type="button submit" id="register" class="width-35 pull-right btn btn-sm btn-primary">
                                            <i class="ace-icon fa fa-key"></i>
                                            <span class="bigger-110">注册</span>
                                        </button>
                                    </div>
                                </form>
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <script  type="text/javascript">
        $('#username').blur(function(){
            var username =  $('#username').val();
            $.post('/checkUsername',{user:username},function(data,status){

                if(data!="default"){
                    $("#usernameError").html(data);
                    $('#usernameform').attr("class","form-group has-error");
                }
                else{
                    $("#usernameError").html("");
                    var length = username.length;
                    if(length<3||length>20)
                        $('#usernameform').attr("class","form-group has-error");
                    else{
                        var checkout =  /^[a-zA-Z0-9_]{1,}$/;
                        console.log(username.match(checkout));
                        if(username.match(checkout)==null)
                            $('#usernameform').attr("class","form-group has-error");
                        else
                            $('#usernameform').attr("class","form-group has-success");
                    }
                }
            });

        });
        $('#password').blur(function(){
            var password =  $('#password').val();
            var length = password.length;
            if(length<6)
                $('#passwordform').attr("class","form-group has-error");
            else{
                var checkout =  /(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])[a-zA-Z0-9]/;
                console.log(password.match(checkout));
                if(password.match(checkout)==null)
                    $('#passwordform').attr("class","form-group has-error");
                else
                    $('#passwordform').attr("class","form-group has-success");
            }
        });
        $('#passwordConfirm').blur(function(){
            var password =  $('#password').val();
            var passwordConfirm=  $('#passwordConfirm').val();
            console.log(password);
            console.log(passwordConfirm);
            if(password!=passwordConfirm)
                $('#passwordconform').attr("class","form-group has-error");
            else{
                $('#passwordconform').attr("class","form-group has-success");
            }
        });
        $('#reset').click(function(){
            console.log("reset");
            $('#username').val("");
            $('#password').val("");
            $('#passwordConfirm').val("");
            $('#usernameform').attr("class","form-group");
            $('#passwordform').attr("class","form-group");
            $('#passwordconform').attr("class","form-group");
        });
    </script>
</body>
</html>